In [11]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
california_crimes_df = Path("Resources/california_department_of_justice_1998_to_2023.csv")
US_inflation_rates_df = Path("Resources/US_Inflation_Rates_1998_to_2023.csv")

# Read School and Student Data File and store into Pandas DataFrames
california_crimes = pd.read_csv(california_crimes_df)
US_inflation_rates = pd.read_csv(US_inflation_rates_df)

In [12]:
california_crimes.head()

,Year,Violent Crimes,Homicide,Rape (Forcible Rape prior to 2014),Rape,Attempted Rape,Robbery,Firearm,Knife or Cutting Instrument,Other Weapon,...,Other.1,Over $400,Over $200,$200 through $400,$50 through $199,Under $50,Arson,Structural Property,Mobile Property,Other Property
0,1998,"229,766","2,170","9,777","7,939","1,838","68,752","23,799","6,857","6,699",...,"133,596","186,841",0,"117,021","154,796","265,075","14,314","4,687","4,346","5,281"
1,1999,"207,874","2,006","9,443","7,757","1,686","60,027","19,912","6,091","5,861",...,"120,898","169,249",0,"106,668","140,138","245,588","14,454","4,655","4,133","5,666"
2,2000,"210,492","2,074","9,785","8,197","1,588","60,243","20,971","6,078","5,610",...,"128,376","175,013",0,"102,424","138,102","236,025","14,406","4,669","4,616","5,121"
3,2001,"210,510","2,201","9,882","8,219","1,663","63,299","22,606","6,512","6,034",...,"130,778","195,037",0,"106,602","144,146","243,706","15,060","4,612","5,357","5,091"
4,2002,"207,988","2,392","10,176","8,620","1,556","64,805","23,444","6,599","5,769",...,"128,573","208,367",0,"110,107","143,798","250,147","14,007","4,119","5,473","4,415"

In [13]:
US_inflation_rates.head()

,Year,"Inflation Rate YOY, From Previous Dec.",Federal Funds Rate,Business Cycle,Enents Affecting Inflation
0,1998,1.60%,4.75%,Expansion (4.5%),Long-term capital management crisis
1,1999,2.70%,5.50%,Expansion (4.8%),Glass-Steagall Act repealed
2,2000,3.40%,6.50%,Expansion (4.1%),Tech bubble burst
3,2001,1.60%,1.75%,"March peak, November trough (1.0%)",Bush tax cut; 9/11 attacks
4,2002,2.40%,1.25%,Expansion (1.7%),War on Terror

In [14]:
US_inflation_rates.columns

Index(['Year', 'Inflation Rate YOY, From Previous Dec.', 'Federal Funds Rate',
       'Business Cycle', 'Enents Affecting Inflation'],
      dtype='object')

In [18]:
california_crimes.columns

Index(['Year', 'Violent Crimes', 'Homicide',
       'Rape (Forcible Rape prior to 2014)', 'Rape', 'Attempted Rape',
       'Robbery', 'Firearm', 'Knife or Cutting Instrument', 'Other Weapon',
       'Strong-Arm', 'Highway', 'Commercial', 'Gas Station',
       'Convenience Store', 'Residence', 'Bank', 'Miscellaneous',
       'Aggravated Assault', 'Firearm.1', 'Knife or Cutting Instrument.1',
       'Other Weapon.1', 'Hands  Fists  Feet', 'Property Crimes', 'Burglary',
       'Forcible Entry', 'No Force', 'Residence.1', 'Night', 'Day', 'Unknown',
       'Non-Residence', 'Night.1', 'Day.1', 'Unknown.1', 'Motor Vehicle Theft',
       'Automotive', 'Trucks and Buses', 'Other', 'Larceny-Theft',
       'Pocket-Picking', 'Purse-Snatching', 'Shoplifting',
       'From Motor Vehicle', 'Motor Vehicle Accessories', 'Bicycles',
       'From Building', 'Coin Operated Machine', 'Other.1', 'Over $400',
       'Over $200', '$200 through $400', '$50 through $199', 'Under $50',
       'Arson', 'Structural Property', 'Mobile Property', 'Other Property'],
      dtype='object')

In [19]:
# Combine the data into a single dataset.
crime_and_inflation_complete = pd.merge(california_crimes, US_inflation_rates, how="left", on=["Year", "Year"])
crime_and_inflation_complete.head()

,Year,Violent Crimes,Homicide,Rape (Forcible Rape prior to 2014),Rape,Attempted Rape,Robbery,Firearm,Knife or Cutting Instrument,Other Weapon,...,$50 through $199,Under $50,Arson,Structural Property,Mobile Property,Other Property,"Inflation Rate YOY, From Previous Dec.",Federal Funds Rate,Business Cycle,Enents Affecting Inflation
0,1998,"229,766","2,170","9,777","7,939","1,838","68,752","23,799","6,857","6,699",...,"154,796","265,075","14,314","4,687","4,346","5,281",1.60%,4.75%,Expansion (4.5%),Long-term capital management crisis
1,1999,"207,874","2,006","9,443","7,757","1,686","60,027","19,912","6,091","5,861",...,"140,138","245,588","14,454","4,655","4,133","5,666",2.70%,5.50%,Expansion (4.8%),Glass-Steagall Act repealed
2,2000,"210,492","2,074","9,785","8,197","1,588","60,243","20,971","6,078","5,610",...,"138,102","236,025","14,406","4,669","4,616","5,121",3.40%,6.50%,Expansion (4.1%),Tech bubble burst
3,2001,"210,510","2,201","9,882","8,219","1,663","63,299","22,606","6,512","6,034",...,"144,146","243,706","15,060","4,612","5,357","5,091",1.60%,1.75%,"March peak, November trough (1.0%)",Bush tax cut; 9/11 attacks
4,2002,"207,988","2,392","10,176","8,620","1,556","64,805","23,444","6,599","5,769",...,"143,798","250,147","14,007","4,119","5,473","4,415",2.40%,1.25%,Expansion (1.7%),War on Terror

In [20]:
crime_and_inflation_complete.info

<bound method DataFrame.info of     Year Violent Crimes Homicide Rape (Forcible Rape prior to 2014)    Rape  \
0   1998        229,766    2,170                              9,777   7,939
1   1999        207,874    2,006                              9,443   7,757
2   2000        210,492    2,074                              9,785   8,197
3   2001        210,510    2,201                              9,882   8,219
4   2002        207,988    2,392                             10,176   8,620
5   2003        204,591    2,402                              9,918   8,461
6   2004        197,432    2,394                              9,598   8,287
7   2005        189,593    2,503                              9,345   8,115
8   2006        194,128    2,483                              9,213   7,937
9   2007        191,493    2,258                              9,047   7,931
10  2008        185,233    2,143                              8,906   7,859
11  2009        174,579    1,970                              8,698   7,719
12  2010        163,957    1,809                              8,325   7,408
13  2011        155,313    1,794                              7,678   6,792
14  2012        160,629    1,878                              7,828   6,935
15  2013        151,634    1,745                              7,459   6,665
16  2014        151,425    1,697                              9,397   8,562
17  2015        166,588    1,861                             12,793  11,827
18  2016        174,701    1,930                             13,695  12,785
19  2017        178,553    1,829                             14,724  13,799
20  2018        176,866    1,739                             15,500  14,526
21  2019        173,205    1,679                             14,720  13,791
22  2020        173,864    2,202                             13,439  12,641
23  2021        183,546    2,361                             14,435  13,730
24  2022        193,019    2,206                             14,346  13,704
25  2023        199,838    1,892                             13,723  13,039

   Attempted Rape Robbery Firearm Knife or Cutting Instrument Other Weapon  \
0           1,838  68,752  23,799                       6,857        6,699
1           1,686  60,027  19,912                       6,091        5,861
2           1,588  60,243  20,971                       6,078        5,610
3           1,663  63,299  22,606                       6,512        6,034
4           1,556  64,805  23,444                       6,599        5,769
5           1,457  63,597  22,155                       6,453        5,644
6           1,311  61,573  20,609                       6,119        5,521
7           1,230  63,424  21,947                       6,230        5,949
8           1,276  70,961  24,409                       6,833        6,683
9           1,116  70,702  23,519                       6,632        6,593
10          1,047  69,391  22,089                       6,253        6,430
11            979  64,006  19,863                       5,658        5,816
12            917  58,100  18,076                       5,051        5,361
13            886  54,358  16,180                       4,817        4,907
14            893  56,491  17,083                       4,920        5,259
15            794  53,621  16,274                       4,641        5,089
16            835  48,650  13,546                       4,553        4,818
17            966  52,785  14,706                       5,028        5,651
18            910  54,769  15,490                       5,207        6,067
19            925  56,609  15,349                       5,277        6,502
20            974  54,312  13,501                       5,031        6,538
21            929  52,050  12,414                       4,719        6,068
22            798  44,684  11,176                       4,359        5,832
23            705  43,628  12,413                       4,081        6,048
24            642  47,669  13,714                       4,287        7,014
25            684  49,177  13,518                       4,371        7,565

    ... $50 through $199 Under $50   Arson Structural Property  \
0   ...          154,796   265,075  14,314               4,687
1   ...          140,138   245,588  14,454               4,655
2   ...          138,102   236,025  14,406               4,669
3   ...          144,146   243,706  15,060               4,612
4   ...          143,798   250,147  14,007               4,119
5   ...          146,475   256,026  13,677               3,992
6   ...          145,082   251,127  12,660               3,786
7   ...          133,188   230,705  12,272               3,774
8   ...          123,996   219,194  12,687               3,758
9   ...          118,991   210,131  11,400               3,438
10  ...          118,202   203,379  10,674               3,416
11  ...          116,038   195,711   9,233               2,865
12  ...          115,484   184,860   7,864               2,546
13  ...          113,113   176,493   7,164               2,327
14  ...          118,159   188,594   7,519               2,654
15  ...          112,284   190,412   7,446               2,528
16  ...          110,108   181,375   7,135               2,459
17  ...          120,590   204,858   7,380               2,450
18  ...          112,408   201,738   7,766               2,805
19  ...          108,836   185,186   8,650               3,175
20  ...          105,185   161,456   8,523               2,825
21  ...          100,697   158,298   8,266               2,877
22  ...           80,539   143,341  11,759               3,660
23  ...           67,676   130,568  11,138               3,324
24  ...           69,168   126,736   9,841               2,920
25  ...           74,187   127,534   6,736               1,889

   Mobile Property Other Property Inflation Rate YOY, From Previous Dec.  \
0            4,346          5,281                                  1.60%
1            4,133          5,666                                  2.70%
2            4,616          5,121                                  3.40%
3            5,357          5,091                                  1.60%
4            5,473          4,415                                  2.40%
5            5,419          4,266                                  1.90%
6            4,846          4,028                                  3.30%
7            4,349          4,149                                  3.40%
8            4,442          4,487                                  2.50%
9            4,011          3,951                                  4.10%
10           3,888          3,370                                  0.10%
11           3,304          3,064                                  2.70%
12           2,501          2,817                                  1.50%
13           2,060          2,777                                  3.00%
14           1,978          2,887                                  1.70%
15           1,822          3,096                                  1.50%
16           1,825          2,851                                  0.80%
17           1,853          3,077                                  0.70%
18           1,943          3,018                                  2.10%
19           1,979          3,496                                  2.10%
20           2,047          3,651                                  1.90%
21           1,773          3,616                                  2.30%
22           2,332          5,767                                  1.40%
23           1,978          5,836                                  7.00%
24           1,720          5,201                                  6.50%
25           1,472          3,375                                  3.40%

   Federal Funds Rate                      Business Cycle  \
0               4.75%                    Expansion (4.5%)
1               5.50%                    Expansion (4.8%)
2               6.50%                    Expansion (4.1%)
3               1.75%  March peak, November trough (1.0%)
4               1.25%                    Expansion (1.7%)
5               1.00%                    Expansion (2.8%)
6               2.25%                    Expansion (3.8%)
7               4.25%                    Expansion (3.5%)
8               5.25%                    Expansion (2.8%)
9               4.25%                December peak (2.0%)
10              0.25%                    Expansion (0.1%)
11              0.25%                 June trough (-2.6%)
12              0.25%                    Expansion (2.7%)
13              0.25%                    Expansion (1.6%)
14              0.25%                    Expansion (2.3%)
15              0.25%                    Expansion (2.1%)
16              0.25%                    Expansion (2.5%)
17              0.50%                    Expansion (2.9%)
18              0.75%                    Expansion (1.8%)
19              1.50%                    Expansion (2.5%)
20              2.50%                    Expansion (3.0%)
21              1.75%                    Expansion (2.5%)
22              0.25%                 Contraction (-2.2%)
23              0.25%                    Expansion (5.8%)
24              4.50%                    Expansion (1.9%)
25              5.50%                    Expansion (2.5%)

                       Enents Affecting Inflation
0             Long-term capital management crisis
1                     Glass-Steagall Act repealed
2                               Tech bubble burst
3                      Bush tax cut; 9/11 attacks
4                                   War on Terror
5   Jobs and Growth Tax Relief Reconciliation Act
6                                             NaN
7               Hurricane Katrina; Bankruptcy Act
8                                             NaN
9                                     Bank crisis
10                               Financial crisis
11         American Recovery and Reinvestment Act
12            Affordable Care Act; Dodd-Frank Act
13                            Debt ceiling crisis
14                                            NaN
15             Government shutdown, sequestration
16                       Quantitative easing ends
17                Deflation in oil and gas prices
18                                            NaN
19                                            NaN
20                                            NaN
21                                            NaN
22                              COVID-19 pandemic
23                              COVID-19 pandemic
24                         Russia invades Ukraine
25                               Fed raised rates

[26 rows x 62 columns]>